google
protobuf
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchcodec==0.2.1+cu124
matplotlib
numpy
scikit-learn
tqdm
tensorboard
packaging
PyYAML
pytest
pesq
pystoi
mir_eval
rir-generator
plotly
pandas
kaleido
lightning
gradio
onnx
onnxruntime
requests
silero-vad
librosa
torchmetrics
